<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maintenance Page</title>
</head>
<body>
{{> header}}
<p>The site is fucked at the moment</p>

{{> footer}}
</body>
</html>